@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&family=Quattrocento:wght@700&display=swap');
body,
:root
 {
  height: 100%;
  background-color: #F9F4EF !important;
}
a{
  text-decoration: none;
  color: #020826;
  font-size: 24px;
  font-family: 'Quattrocento Sans', sans-serif;
}
